@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: vazir;
}

@font-face {
  font-family: vazir;
  src: url(/Vazirmatn-Regular.ttf);
}
